body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: dimgray;
}

.navbar_items {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    flex-grow: 1;
    overflow: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    height: 72px;
    display: flex;
    /*  align-items: center;*/
    /*justify-content: center;*/
}

.header span {
    /* margin-left: 40px;*/
    color: lightgray;
}

.header span:hover {
    /*margin-left: 40px;*/
    color: white;
    cursor: pointer;
}

.header .site-logo {
    padding: 20px;
}

.header .films {
    padding: 20px;
}

.header .create-account {
    padding: 20px;
    color: #d8e1e9ff;
    cursor: pointer;
}

.header .create-account:hover {
    color: white;
    cursor: pointer;
}

.header .login {
    color: white;
    background: slategray;
    padding: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}