body {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0;
    background: dimgray;
}

.content {
    flex-grow: 1;
    height: 750px;
    overflow: auto;
    background: dimgray;
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    color: #fff;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkslategray;
}

.header div {
    margin-left: 40px;
}

.header .site-logo {
    padding: 20px;
    border: 1px solid black;
}

.header .main-nav {
    padding: 20px;
    border: 1px solid black;
}

.header .create-account {
    padding: 20px;
    border: 1px solid black;
}

.header .login {
    color: white;
    background: green;
    padding: 20px;
    border: 1px solid black;
}

.footer {
    background-color: #ccc;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}