body {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0;
    background: dimgray;
}

.navbar_items {
    color: #fff;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkslategray;
    font-family: Graphik-Semibold-Web, sans-serif;
    letter-spacing: .07692308em;
    line-height: 17px;
    text-transform: uppercase;
}

.content {
    flex-grow: 1;
    height: 750px;
    overflow: auto;
    background: dimgray;
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    color: #fff;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkslategray;
    font-family: Graphik-Semibold-Web, sans-serif;
    letter-spacing: .07692308em;
    line-height: 17px;
    text-transform: uppercase;
}

.header span {
    margin-left: 40px;
    color: lightgray;
}

.header span:hover {
    margin-left: 40px;
    color: white;
    cursor: pointer;
}

.header .site-logo {
    padding: 20px;
}

.header .films {
    padding: 20px;
}

.header .create-account {
    padding: 20px;
    color: #d8e1e9ff;
    cursor: pointer;
}

.header .create-account:hover {
    color: white;
    cursor: pointer;
}

.header .login {
    color: white;
    background: green;
    padding: 20px;
}

.footer {
    background-color: #ccc;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}